[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
gunicorn = "*"
flask-heroku = "*"
werkzeug = "*"
sqlalchemy-utils = "*"
flask-jwt = "*"
requests = "*"
flask-socketio = "*"
gevent-websocket = "*"

[requires]
python_version = "3.7"
